<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.em_projects.callerapp">

    <!-- SMS Receiver Permissions -->
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />

    <!-- Incoming Call and Phone Call Receivers Permissions -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!-- Outgoing Call Receiver Permissions -->
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />

    <!-- Read Contact Details Permissions -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <!-- Boot Receiver Permissions -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <!-- Phone Call Permissions -->
    <uses-permission android:name="android.permission.3" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <!-- GCM Permissions -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <permission
        android:name="com.em_projects.selleniumproj.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <!-- Wake lock permissions -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Device Admin Receiver -->
        <receiver android:name=".admin.MyDeviceAdminReceiver">
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/my_admin" />
            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
                <action android:name="android.app.action.DEVICE_ADMIN_DISABLE" />
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLE_REQUESTED" />
            </intent-filter>
        </receiver>

        <!-- Incoming Call receiver -->
        <receiver
            android:name=".telephony.PhoneCallReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="2147483647">
                <action android:name="android.intent.action.PHONE_STATE" />
            </intent-filter>
        </receiver>

        <!-- OutGoing Call receiver -->
        <receiver
            android:name=".telephony.OutgoingCallHandler"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="2147483647">
                <action android:name="android.intent.action.NEW_OUTGOING_CALL" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <!-- SMS receiver -->
        <receiver
            android:name=".telephony.SmsReceiver"
            android:enabled="false">
            <intent-filter android:priority="999">
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <!-- On Boot Receiver -->
        <receiver android:name=".boot.OnBootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <!-- Shutdown Receiver -->
        <receiver android:name=".boot.ShutDownReceiver">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_SHUTDOWN" />
                <action android:name="android.intent.action.QUICKBOOT_POWEROFF" />
            </intent-filter>
        </receiver>

        <!-- GCM -->
        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.em_projects.selleniumproj" />
            </intent-filter>
        </receiver>
        <service
            android:name="com.em_projects.callerapp.gcm.MyGcmListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <service
            android:name="com.em_projects.callerapp.gcm.MyInstanceIDListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>
        <service
            android:name="com.em_projects.callerapp.gcm.RegistrationIntentService"
            android:exported="false"></service>
        <service
            android:name=".gcm.GcmIntentService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <!--action android:name="com.google.android.c2dm.intent.REGISTRATION" /-->
            </intent-filter>
        </service>

        <!-- Intro -->
        <activity android:name=".intro.IntroActivity" />

        <!-- Main Screen -->
        <activity android:name=".main.MainScreenActivity" />

        <!-- Login -->
        <activity
            android:name=".verification.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize|adjustPan" />
        <service android:name=".verification.CommunicationService" />

        <!-- Contacts List Transmitter -->
        <service
            android:name=".contacts.ContactsTxIntentService"
            android:exported="false" />

    </application>

</manifest>